DATABASE_URL=postgresql+psycopg://formex:formex@localhost:5433/formex
CORS_ORIGINS=["http://localhost:4200"]
# Generar con: python -c "import secrets; print(secrets.token_hex(32))"
SECRET_KEY=
ACCESS_TOKEN_EXPIRE_MINUTES=15
REFRESH_TOKEN_EXPIRE_MINUTES=43200
